body{
    background-color: #000;
}

#logo {
    float: left;
    font-size: 250%;
    padding-left: 20px;
    
  }

#menu{
    padding-top: 36px;
    padding-right: 25px;
}

#menu li{
    list-style-type: none;
    font-size: 125%;
    float: right;
    padding-right: 15px;
     
}

#menu a{
    text-decoration: none;
    color:#fafafa;
}

#logo{
    padding-top: 10px;
}


h2{
    text-transform: uppercase;
    color: #fafafa;
}



#hero-outer{
    overflow:hidden;
    width:100%;
}

#hero-image{
    padding-top: 30px;
    height: 600px;
    width: 100%;
    background: url("/assets/images/hero.jpg") no-repeat center center;
    
    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
  
  }

  @keyframes hero-zoom {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.08);
    }
  }